

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.banner-wrapper-multibet {
    position: relative;
    width: 100%;
    aspect-ratio: 1896 / 483; 
    overflow: hidden;
}


.banner-bg-multibet {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}


.banner-title-multibet {
    position: absolute;
    width: 18.5%;
    left: 39.5%;
    top: 38%;
    animation: pulse 1.8s ease-in-out infinite;
    transform-origin: center;
   filter: drop-shadow(1px 1px 0 #000);
}

@keyframes pulse {
    0%   { transform: scale(1); }
    50%  { transform: scale(1.06); }
    100% { transform: scale(1); }
}